

{% extends 'base.html.twig' %}

{% block body %}
<main class="container">
    <div class="jumbotron bg-light p-3 mt-3">
        <h1 class="display-3">Booking</h1>
        <p class="lead">This is a imple hero unit, a simple jumbotron-style component for calling extra</p>
        <hr class="my-4">
        <p>It uses utility classes for typographiy and spacing to space content outwithin the larger content</p>
        <p class="lead">
        <a href="#" class="btn btn-primary btn-lg" role="button">Plus d'infos</a>
        </p>
    </div>

    <h3 class="h1 mt-5 mb-5">Nos meilleures annonces</h3>
    <section class="row">
    {% for data in ads %}

        {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}

    {% endfor %}
    </section>

        <h3 class="h1 mt-5 mb-5">Nos meilleurs annonçeurs</h3>
    <section class="row">
    {% for data in users %}
        <article class="col">
            <div class="card border-dark mb-3">
                <h3 class="card-header bg-dark h4">{{data.user.fullName}}</h3>
                <div class="card-body">
                    <img src="{{data.user.avatar}}" alt="{{data.user.fullName}}" class="float-start me-3">
                    <p class="card-text">{{data.user.introduction}}</p>
                </div>
                <div class="card-body">
                    <a href="{{path('user_show',{'slug':data.user.slug})}}" class="btn btn-dark bg-dark">Plus d'infos</a>
                </div>

            </div>
        </article>   

    {% endfor %}  
    
    </section>
</main>

{% endblock %}
